<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boyu.erp.platform.usercenter.mapper.warehouse.CostDmodeMapper">
    <select id="getCostDmodeByUnitMode"
            resultType="com.boyu.erp.platform.usercenter.entity.warehouse.CostDmode">
        select unit_id AS unitId,deliv_mode AS delivMode from cost_dmode where unit_id=#{unitId} and deliv_mode=#{delivMode}
    </select>
</mapper>