<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyu.erp.platform.usercenter.mapper.employye.EmplWorkExpMapper">
    <resultMap id="BaseResultMap" type="com.boyu.erp.platform.usercenter.entity.employee.EmplWorkExp">
        <id column="empl_id" jdbcType="BIGINT" property="emplId"/>
        <id column="owner_id" jdbcType="BIGINT" property="ownerId"/>
        <id column="line_num" jdbcType="INTEGER" property="lineNum"/>
        <result column="from_date" jdbcType="TIMESTAMP" property="fromDate"/>
        <result column="to_date" jdbcType="TIMESTAMP" property="toDate"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="job_pos" jdbcType="VARCHAR" property="jobPos"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="fromDateCp" property="fromDateCp"></result>
        <result column="toDateCp" property="toDateCp"></result>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="com.boyu.erp.platform.usercenter.entity.employee.EmplWorkExp">
        <result column="opr_id" jdbcType="BIGINT" property="oprId"/>
    </resultMap>
    <sql id="Base_Column_List">
    empl_id, owner_id, line_num, from_date, to_date, company, job_pos, remarks
  </sql>
    <sql id="Blob_Column_List">
    opr_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="com.boyu.erp.platform.usercenter.entity.employee.EmplWorkExp"
            resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from empl_work_exp
        where empl_id = #{emplId,jdbcType=BIGINT}
        and owner_id = #{ownerId,jdbcType=BIGINT}
        and line_num = #{lineNum}
    </select>

    <select id="selectEmplWorkExp" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>,
        DATE_FORMAT(from_date, "%Y-%m-%d %T") as fromDateCp,
        DATE_FORMAT(to_date, "%Y-%m-%d %T") as toDateCp
        from empl_work_exp
        where empl_id = #{emplId,jdbcType=BIGINT}
        and owner_id = #{ownerId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.boyu.erp.platform.usercenter.entity.employee.EmpKey">
    delete from empl_work_exp
    where empl_id = #{emplId,jdbcType=BIGINT}
      and owner_id = #{ownerId,jdbcType=BIGINT}
      and line_num = #{lineNum}
  </delete>

    <insert id="insertSelective" parameterType="com.boyu.erp.platform.usercenter.entity.employee.EmplWorkExp">
        insert into empl_work_exp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="emplId != null">
                empl_id,
            </if>
            <if test="ownerId != null">
                owner_id,
            </if>
            <if test="lineNum != null">
                line_num,
            </if>
            <if test="fromDate != null">
                from_date,
            </if>
            <if test="toDate != null">
                to_date,
            </if>
            <if test="company != null">
                company,
            </if>
            <if test="jobPos != null">
                job_pos,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="oprId != null">
                opr_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="emplId != null">
                #{emplId,jdbcType=BIGINT},
            </if>
            <if test="ownerId != null">
                #{ownerId,jdbcType=BIGINT},
            </if>
            <if test="lineNum != null">
                #{lineNum,jdbcType=INTEGER},
            </if>
            <if test="fromDate != null">
                #{fromDate,jdbcType=TIMESTAMP},
            </if>
            <if test="toDate != null">
                #{toDate,jdbcType=TIMESTAMP},
            </if>
            <if test="company != null">
                #{company,jdbcType=VARCHAR},
            </if>
            <if test="jobPos != null">
                #{jobPos,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="oprId != null">
                #{oprId},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.boyu.erp.platform.usercenter.entity.employee.EmplWorkExp">
        update empl_work_exp
        <set>
            <if test="fromDate != null">
                from_date = #{fromDate,jdbcType=TIMESTAMP},
            </if>
            <if test="toDate != null">
                to_date = #{toDate,jdbcType=TIMESTAMP},
            </if>
            <if test="company != null">
                company = #{company,jdbcType=VARCHAR},
            </if>
            <if test="jobPos != null">
                job_pos = #{jobPos,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="oprId != null">
                opr_id = #{oprId},
            </if>
        </set>
        where empl_id = #{emplId,jdbcType=BIGINT}
        and owner_id = #{ownerId,jdbcType=BIGINT}
        and line_num = #{lineNum}
    </update>

</mapper>