<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyu.erp.platform.usercenter.mapper.employye.EmplAttrMapper">
  <resultMap id="BaseResultMap" type="com.boyu.erp.platform.usercenter.entity.employee.EmplAttr">
    <id column="empl_id" jdbcType="BIGINT" property="emplId" />
    <id column="owner_id" jdbcType="BIGINT" property="ownerId" />
    <id column="attr_type" jdbcType="VARCHAR" property="attrType" />
    <result column="attr_val" jdbcType="VARCHAR" property="attrVal" />
  </resultMap>
  <sql id="Base_Column_List">
    empl_id, owner_id, attr_type, attr_val
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.boyu.erp.platform.usercenter.entity.employee.EmplAttr" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from empl_attr
    where empl_id = #{emplId,jdbcType=BIGINT}
      and owner_id = #{ownerId,jdbcType=BIGINT}
      and attr_type = #{attrType,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.boyu.erp.platform.usercenter.entity.employee.EmplAttr">
    delete from empl_attr
    where empl_id = #{emplId,jdbcType=BIGINT}
      and owner_id = #{ownerId,jdbcType=BIGINT}
      and attr_type = #{attrType,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.boyu.erp.platform.usercenter.entity.employee.EmplAttr">
    insert into empl_attr (empl_id, owner_id, attr_type, 
      attr_val)
    values (#{emplId,jdbcType=BIGINT}, #{ownerId,jdbcType=BIGINT}, #{attrType,jdbcType=VARCHAR}, 
      #{attrVal,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.boyu.erp.platform.usercenter.entity.employee.EmplAttr">
    insert into empl_attr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="emplId != null">
        empl_id,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="attrType != null">
        attr_type,
      </if>
      <if test="attrVal != null">
        attr_val,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="emplId != null">
        #{emplId,jdbcType=BIGINT},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="attrType != null">
        #{attrType,jdbcType=VARCHAR},
      </if>
      <if test="attrVal != null">
        #{attrVal,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boyu.erp.platform.usercenter.entity.employee.EmplAttr">
    update empl_attr
    <set>
      <if test="attrVal != null">
        attr_val = #{attrVal,jdbcType=VARCHAR},
      </if>
    </set>
    where empl_id = #{emplId,jdbcType=BIGINT}
      and owner_id = #{ownerId,jdbcType=BIGINT}
      and attr_type = #{attrType,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boyu.erp.platform.usercenter.entity.employee.EmplAttr">
    update empl_attr
    set attr_val = #{attrVal,jdbcType=VARCHAR}
    where empl_id = #{emplId,jdbcType=BIGINT}
      and owner_id = #{ownerId,jdbcType=BIGINT}
      and attr_type = #{attrType,jdbcType=VARCHAR}
  </update>
</mapper>