<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyu.erp.platform.usercenter.mapper.purchase.PuiTypeMapper">
  <resultMap id="BaseResultMap" type="com.boyu.erp.platform.usercenter.entity.purchase.PuiType">
    <id column="pui_type" jdbcType="VARCHAR" property="puiType" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="psi_type" jdbcType="VARCHAR" property="psiType" />
    <result column="active" jdbcType="CHAR" property="active" />
  </resultMap>

  <resultMap id="BaseResultMapPsi" type="com.boyu.erp.platform.usercenter.vo.purchase.PuiTypeVo">
    <id column="pui_type" jdbcType="VARCHAR" property="puiType" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="psiDescription" property="psiDescription" />
    <result column="active" jdbcType="CHAR" property="active" />
  </resultMap>

  <sql id="Base_Column_List">
    pui_type, description, psi_type, active
  </sql>

  <select id="selectALL" parameterType="com.boyu.erp.platform.usercenter.entity.purchase.PuiType" resultMap="BaseResultMapPsi">
    SELECT
    pt.pui_type,
    pt.description,
    st.description AS psiDescription,
    pt.active
    FROM
    pui_type pt
    LEFT JOIN psi_type st ON st.psi_type = pt.psi_type
    where 1=1
    <if test="puiType != null">
      and pt.pui_type = #{puiType,jdbcType=VARCHAR}
    </if>
    <if test="psiType != null">
      and pt.psi_type = #{psiType,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectOnePsi" parameterType="com.boyu.erp.platform.usercenter.entity.purchase.PuiType" resultMap="BaseResultMapPsi">
    SELECT
    pt.pui_type,
    pt.description,
    st.description AS psiDescription,
    pt.active
    FROM
    pui_type pt
    LEFT JOIN psi_type st ON st.psi_type = pt.psi_type
    where 1=1
    <if test="psiType != null">
      and pt.psi_type = #{psiType,jdbcType=VARCHAR}
    </if>
    <if test="puiType != null">
      and pt.pui_type != #{puiType,jdbcType=VARCHAR}
    </if>
  </select>

  <delete id="deletePuiType" parameterType="com.boyu.erp.platform.usercenter.entity.purchase.PuiType">
    delete from pui_type
    where pui_type = #{puiType,jdbcType=VARCHAR}
  </delete>

  <insert id="insertPuiType" parameterType="com.boyu.erp.platform.usercenter.entity.purchase.PuiType">
    insert into pui_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="puiType != null">
        pui_type,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="psiType != null">
        psi_type,
      </if>
      <if test="active != null">
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="puiType != null">
        #{puiType,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="psiType != null">
        #{psiType,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

  <update id="updatePuiType" parameterType="com.boyu.erp.platform.usercenter.entity.purchase.PuiType">
    update pui_type
    <set>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="psiType != null">
        psi_type = #{psiType,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=CHAR},
      </if>
    </set>
    where pui_type = #{puiType,jdbcType=VARCHAR}
  </update>
</mapper>