<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyu.erp.platform.usercenter.mapper.basic.RtvQtaPgMapper">
  <resultMap id="BaseResultMap" type="com.boyu.erp.platform.usercenter.entity.basic.RtvQtaPg">
    <id column="vender_id" jdbcType="BIGINT" property="venderId" />
    <id column="vendee_id" jdbcType="BIGINT" property="vendeeId" />
    <id column="psa_ctlr" jdbcType="CHAR" property="psaCtlr" />
    <id column="doc_type" jdbcType="CHAR" property="docType" />
    <id column="doc_unit_id" jdbcType="BIGINT" property="docUnitId" />
    <id column="doc_num" jdbcType="VARCHAR" property="docNum" />
    <result column="frz_val" jdbcType="DECIMAL" property="frzVal" />
  </resultMap>
  <sql id="Base_Column_List">
    vender_id, vendee_id, psa_ctlr, doc_type, doc_unit_id, doc_num, frz_val
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.boyu.erp.platform.usercenter.entity.basic.RtvQtaPg" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rtv_qta_pg
    where vender_id = #{venderId,jdbcType=BIGINT}
      and vendee_id = #{vendeeId,jdbcType=BIGINT}
      and psa_ctlr = #{psaCtlr,jdbcType=CHAR}
      and doc_type = #{docType,jdbcType=CHAR}
      and doc_unit_id = #{docUnitId,jdbcType=BIGINT}
      and doc_num = #{docNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.boyu.erp.platform.usercenter.entity.basic.RtvQtaPg">
    delete from rtv_qta_pg
    where vender_id = #{venderId,jdbcType=BIGINT}
      and vendee_id = #{vendeeId,jdbcType=BIGINT}
      and psa_ctlr = #{psaCtlr,jdbcType=CHAR}
      and doc_type = #{docType,jdbcType=CHAR}
      and doc_unit_id = #{docUnitId,jdbcType=BIGINT}
      and doc_num = #{docNum,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.boyu.erp.platform.usercenter.entity.basic.RtvQtaPg">
    insert into rtv_qta_pg (vender_id, vendee_id, psa_ctlr, 
      doc_type, doc_unit_id, doc_num, 
      frz_val)
    values (#{venderId,jdbcType=BIGINT}, #{vendeeId,jdbcType=BIGINT}, #{psaCtlr,jdbcType=CHAR}, 
      #{docType,jdbcType=CHAR}, #{docUnitId,jdbcType=BIGINT}, #{docNum,jdbcType=VARCHAR}, 
      #{frzVal,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.boyu.erp.platform.usercenter.entity.basic.RtvQtaPg">
    insert into rtv_qta_pg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="venderId != null">
        vender_id,
      </if>
      <if test="vendeeId != null">
        vendee_id,
      </if>
      <if test="psaCtlr != null">
        psa_ctlr,
      </if>
      <if test="docType != null">
        doc_type,
      </if>
      <if test="docUnitId != null">
        doc_unit_id,
      </if>
      <if test="docNum != null">
        doc_num,
      </if>
      <if test="frzVal != null">
        frz_val,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="venderId != null">
        #{venderId,jdbcType=BIGINT},
      </if>
      <if test="vendeeId != null">
        #{vendeeId,jdbcType=BIGINT},
      </if>
      <if test="psaCtlr != null">
        #{psaCtlr,jdbcType=CHAR},
      </if>
      <if test="docType != null">
        #{docType,jdbcType=CHAR},
      </if>
      <if test="docUnitId != null">
        #{docUnitId,jdbcType=BIGINT},
      </if>
      <if test="docNum != null">
        #{docNum,jdbcType=VARCHAR},
      </if>
      <if test="frzVal != null">
        #{frzVal,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boyu.erp.platform.usercenter.entity.basic.RtvQtaPg">
    update rtv_qta_pg
    <set>
      <if test="frzVal != null">
        frz_val = #{frzVal,jdbcType=DECIMAL},
      </if>
    </set>
    where vender_id = #{venderId,jdbcType=BIGINT}
      and vendee_id = #{vendeeId,jdbcType=BIGINT}
      and psa_ctlr = #{psaCtlr,jdbcType=CHAR}
      and doc_type = #{docType,jdbcType=CHAR}
      and doc_unit_id = #{docUnitId,jdbcType=BIGINT}
      and doc_num = #{docNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boyu.erp.platform.usercenter.entity.basic.RtvQtaPg">
    update rtv_qta_pg
    set frz_val = #{frzVal,jdbcType=DECIMAL}
    where vender_id = #{venderId,jdbcType=BIGINT}
      and vendee_id = #{vendeeId,jdbcType=BIGINT}
      and psa_ctlr = #{psaCtlr,jdbcType=CHAR}
      and doc_type = #{docType,jdbcType=CHAR}
      and doc_unit_id = #{docUnitId,jdbcType=BIGINT}
      and doc_num = #{docNum,jdbcType=VARCHAR}
  </update>
</mapper>